// fonts
$avenir-medium: "Avenir-Medium", sans-serif;
$avenir-light: "Avenir-Light", sans-serif;
$avenir-bold: "Avenir-HeavyOblique", sans-serif;
$font-extra-small-size: 12px;
$font-small-size: 14px;
$font-normal-size: 16px;
$font-big-size: 18px;
$title-size: 40px;
$title-extra-big-size: 72px;
$font-light-weight: 400;
$font-normal-weight: 500;
$font-bold-weight: 800;

//colors
$font-main-color: #212353;
$hover-background-color: #f8fafb;
$hover-border-color: #4d7cfe;
$violet: #9c69e2;
$white: #fff;
$font-secondary-color: #4b5d68;
$input-ivalid-color: #fc0303;
$social-media-background-color: rgba(33, 35, 83, 0.15);

//screen sizes
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;
