.title {
	@include font-family($avenir-bold, $title-size, 52px, $font-main-color);

	margin-bottom: 20px;

	&--small {
		font-size: $font-normal-size;
		line-height: 25px;
		}

	&--extra-large {
		font-size: 72px;
		line-height: 79px;
		}
	}
